* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* color: rgb(241, 238, 238); */
  font-family: "Nunito", sans-serif;
}

.bucket-item {
  background: #fff;
  min-height: 30px;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(15, 6, 98);
  border-radius: 15px;
  /* text-align: justify; */
}

.bucket-item h3 {
  color: rgb(15, 15, 144);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px; */
}

.delete {
  /* display: none; */
  /* margin-left: auto;*/
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: var(--dark-accent);
}

li:hover .delete {
  display: block;
  color: aquamarine;
}

/* Form */
