* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* color: rgb(241, 238, 238); */
  font-family: "Nunito", sans-serif;
}

.bucket-item {
  background: #fff;
  /*width: 500px;*/
  min-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.bucket-item h3 {
  color: blue;
}

.delete {
  /* display: none; */
  /* margin-left: auto;*/
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: var(--dark-accent);
}

li:hover .delete {
  display: block;
  color: aquamarine;
}

/* Form */

/* input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

input[type="text"] {
  font-size: 1em;
}

.addBucket {
  display: flex;
  justify-content: center;
}

.addBucket > div {
  padding: 1%;
  align-items: center;
  text-align: center;
} */
