/* Buckets pg */

body {
  background-color: #ede7e7;
}

body h2 {
  font-size: 50px;
}

/* Container - Hero */
.container {
  height: 100%;
  display: grid;
  /*grid-gap: 3px;*/
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "m m m m m m m m m m m m"
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.container > div {
  /*justify-content: center;*/
  align-items: center;
  /* font-size: 2em; */
  grid-gap: 3px;
}

.container .header {
  display: grid;
  text-align: center;
}

.container .content > div {
  display: grid;
}

/*
================
hero
================
*/
.hero {
  /* Sizing */
  width: 100vw;
  height: 70vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://source.unsplash.com/collection/923414/1200x900");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}
/*end hero*/

.content {
  grid-area: c;
}

/* Add To Bucket Input */

.bucket h2 {
  margin-left: 110px;
  margin-top: 50px;
}

/* .bucket input {
  margin-left: 150px;
  margin-top: 50px;
} */

.bucket input {
  width: 100%;
  background-color: white;
  color: rgb(24, 8, 128);
  padding: 25px 20px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

/* .button-bucket {
  padding: 1%;
  margin: 10px;
} */

.button-bucket {
  width: 100%;
  background-color: white;
  color: rgb(168, 23, 23);
  padding: 25px 0px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

button:hover {
  background-color: var(--info);
}

.button-bucket input[type="text"],
select {
  width: 100%;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--light-shade);
  border-radius: 15px;
  box-sizing: border-box;
}

h3 {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  margin: 20px;
}

/* .moment-item {
  width: 100%;
  background-color: var(--primary);
  color: rgb(168, 23, 23);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
} */

@media (max-width: 800px) {
  .hero h1 {
    width: 100vw;
    background-image: none;
    box-shadow: none;
    font-size: 2em;
  }

  .hero {
    width: 100%;
  }
}
